/*paper 1: #E4C180 */
body,
html,
div, ul {
     margin: 0;
     padding:0;
	 border: 0;
}
body {
background: url("resources/bluegrid.jpg") black;
font-family: x-files, arial;
}
/****************************************
Paperwork
****************************************/
div#paperwork {		
	max-width: 750px;
	margin: 10px auto 10px auto;
	position: relative;	
	z-index: 1;
}	
	div#paperwork div#paperworkbackground div.paper{	
		height: 100%;		
		background: white;
		position: absolute;		
		max-width: 750px;
		box-shadow: 0px 0px 15px black;
		-moz-box-shadow: 0px 0px 15px black;
		-webkit-box-shadow: 0px 0px 15px black;
		box-shadow: 0px 0px 15px black;
	}	
	div#still {
		z-index: 3;
	}	
	div#left {		
		z-index: 2;		
		-webkit-transform: rotate(0.5deg);
		-moz-transform: rotate(0.5deg);
		-o-transform: rotate(0.5deg);
		-ms-transform: rotate(0.5deg);
	}
	div#right {
		z-index: 1;		
		-webkit-transform: rotate(-0.8deg);
		-moz-transform: rotate(-0.8deg);
		-o-transform: rotate(-0.8deg);
		-ms-transform: rotate(-0.8deg);
	}
	div#paperworkcontent {
		max-width: 750px;
		position: relative;
		z-index: 4;		
	}
	
